@model ProyectoIdentity.Models.ViewModels.AccessViewModel
@{
    var returnUrl = @ViewData["ReturnUrl"];
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center">User Access</h3>
        <form asp-controller="Accounts" asp-action="Access" asp-route-returnurl="@returnUrl" method="POST">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="row mt-4">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label asp-for="Email" class="col-md-2"></label>
                        <input asp-for="Email" class="form-control" placeholder="Enter your email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="col-md-2"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <div class="custom-check">
                            <label asp-for="RememberMe" class="col-md-4">
                                <input asp-for="RememberMe"/>
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 offset-2">
                    <h3>Access Here to external apps</h3>
                </div>
            </div>
            
            <div class="col-sm-6">
                <button type="submit" class="btn btn-success w-75 btn-lg">Access&nbsp;<i class="bi bi-arrow-right-circle-fill "></i></button>
                <p><a asp-action="Register">Register as new user</a></p>
                <p><a asp-action="ForgotPassword">Forgot your password</a></p>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}