@model ProyectoIdentity.Models.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    var emailQueryValue = Context.Request.Query["email"];
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center">Reset password@(string.IsNullOrEmpty(emailQueryValue) ? "" : $" for {emailQueryValue}") </h3>
        <form asp-controller="Accounts" asp-action="ResetPassword" method="POST">
            <input type="hidden" asp-for="Code"/>
            <input type="hidden" asp-for="Email"/>
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="row mt-4">
                <div class="col-sm-6 offset-3">
                    <div class="mb-3">
                        <label asp-for="Password" class="col-md-3"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="PasswordConfirmation" class="col-md-4"></label>
                        <input asp-for="PasswordConfirmation" class="form-control" />
                        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 offset-2">
                <button type="submit" class="btn btn-success w-75 btn-lg">Reset password&nbsp;<i class="bi bi-arrow-right-circle-fill "></i></button>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}