
<form asp-controller="Admin" asp-action="DeleteUser"  method="post">
    <label for="email" class="col-md-2"> Confirm email to delete</label>
    <br />
    <input type="email" class="col-md-4" form-control" id="email" name="email" />
    <br />
    <button type="submit" class="btn btn-success col-md-4" btn-lg">Delete user by email &nbsp;<i class="bi bi-arrow-right-circle-fill "></i></button>
</form>